body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
}

.wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    min-height: 100vh;
    grid-template-rows: auto auto 1fr auto;
}

header {
    grid-column: 2/8;
    height: 50px;
    background-color: black;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    position: relative;
}

header ul li:first-child {
    position: absolute;
    left: 25px;
}

header ul li a {
    color: white;
    font-family: 'Quicksand';
    font-size: 18px;
    text-decoration: underline;
    padding-left: 25px;
    padding-right: 25px;
}

header ul li a.logo {
    text-decoration: none;
}

.hero {
    display: flex;
    flex-direction: column;
    grid-column: 3/7;
    height: auto;
    min-height: 100px;
}

.hero-text {
    text-align: center;
    font-size: 24px;
}

.hero-text strong {
    font-weight: bolder;
    text-shadow: 0 0 1px currentColor;
}

.main-content {
    grid-column: 2/8;
}

.subgrid-container {
    display: grid;
    grid-template-columns: 0.35fr auto;
    grid-template-rows: 1.25fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}

.image-container img {
    width: 128px;
    height: 128px;
    border-radius: 30px;
    margin-left: -20px;
}

.image-container img:first-child {
    margin-left: 0;
}

.image-container img:nth-child(2) {
    rotate: 20deg;
    transform: translateY(25px);
}

.image-container img:nth-child(3) {
    rotate: -20deg;
    transform: translateY(-25px);
}

.subgrid-container div {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 198px;
    border-radius: 40px;
    background-color: #F5F5F5;
}

.subgrid-container div button {
    border-radius: 100px;
    width: 65%;
    height: 40px;
    background-color: #D9D9D9;
    border: none;
}

.subgrid-container div p {
    width: 65%;
    font-size: 14px;
}

.subgrid-container div h3 {
    margin: 0;
}

.footer {
    background-color: #D9D9D9;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    grid-row: -1;
    padding-bottom: 25px;
    padding-top: 25px;
    grid-column: 2/8;
    height: 50px;
}

@media only screen and (max-width: 991px) {
    .wrapper {
        grid-template-columns: 1fr 768px 1fr;
    }

    header,
    .hero,
    .main-content,
    .footer {
        grid-column: 2;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr;
    }

    header,
    .hero,
    .main-content,
    .footer {
        grid-column: 1;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 500px) {
    header ul li:first-child {
        display: none;
    }

    .subgrid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-top: 50px;
        padding: 0 20px;
        justify-items: center;
    }

    .subgrid-container div {
        width: 100%;
        max-width: 350px;
    }

    .image-container img {
        width: 80px;
        height: 80px;
        margin-left: -15px;
    }

    .hero-text {
        font-size: 20px;
        padding: 0 20px;
    }

    header ul li a {
        font-size: 16px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }
}


.signin-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
}

.signin-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}


.btn-primary {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 0;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn-primary:hover {
    background-color: #000;
}




.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0 0 40px 0;
    margin-top: 0;
}

.grid-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.grid-item a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.grid-item a:hover img {
    opacity: 0.8;
}

.grid-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: opacity 0.3s;
}

.grid-item h3 {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}

.btn-add-plan {
    border-radius: 100px;
    width: 100%;
    height: 40px;
    background-color: #D9D9D9;
    border: none;
    cursor: pointer;
}

.btn-delete {
    border-radius: 100px;
    width: 100%;
    height: 40px;
    background-color: #D9D9D9;
    border: none;
    cursor: pointer;
}

.item-type {
    text-transform: capitalize;
    color: #666;
    font-size: 14px;
    margin: 5px 0;
}

.empty-message {
    text-align: center;
    color: #666;
    font-style: italic;
    padding: 40px 20px;
}